<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<resultMap type="Member" id="memberResultSet">
		<id column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NM" property="memberNm"/>
		<result column="MEMBER_ENROLL_DT" property="memberEnrollDt"/>
	</resultMap>
	
	<insert id="signUp" parameterType="Member">
		insert into MEMBER_TEST values (#{memberId}, #{memberPwd}, #{memberNm}, sysdate)
		<!-- insert into MEMBER_TEST values ('user01', 'pass01', '김칠갑', sysdate) -->
		<!-- insert into MEMBER_TEST values ('user01', 'pass01', '김칠갑', sysdate) -->
	</insert>
</mapper>
<!-- 필요하다면 jstl 사용 -->
<!--
 CREATE TABLE MEMBER_TEST(
MEMBER_ID VARCHAR2(30) PRIMARY KEY,
MEMBER_PWD VARCHAR2(100) NOT NULL,
MEMBER_NM VARCHAR2(15) NOT NULL,
MEMBER_ENROLL_DT DATE DEFAULT SYSDATE
);
-->
<!--
 	private String memberId;
	private String memberPwd;
	private String memberNm;
	private String memberEnrollDt;
 -->
